__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.venv/
venv/
env/
build/
dist/
*.egg-info/
.eggs/
.wheelhouse/
tests/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.git/
.gitignore
.DS_Store
Thumbs.db
*.log
*.pem
*key*
flask-key/
.env
.env.*
exercise1.py
miniproject.py
tests/